DEEPSEEK_API_KEY=sk-...4
DEEPSEEK_BASE_URL=https://api.deepseek.com

OPENAI_API_KEY=sk-...F
OPENAI_BASE_URL=https://api.uchat.site/v1

ANTHROPIC_API_KEY=sk-...F
ANTHROPIC_BASE_URL=https://api.uchat.site

HUNYUAN_APP_ID=1...8
HUNYUAN_SECRET_ID=A...7
HUNYUAN_SECRET_KEY=Y0...W

DASHSCOPE_API_KEY=sk-...4
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

ZHIPUAI_API_KEY=e...k
ZHIPUAI_BASE_URL=https://open.bigmodel.cn/api/paas/v4